.search-container{
    position: relative;
    font-family: 'Titillium Web';
    /* top: 50%; */
}
.input-search{
    border: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.25rem;
    color: #000;
    font-weight: normal;
    line-height: 1.33333;
    width: 100%;
    margin-bottom: 0;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
    background: #fff;
    transition: box-shadow .3s;
    border-radius: 50px;
}
.input-search:focus-visible{
    outline: none;
}
.button-search{
    background: #39ac37;
    border-radius: 50px;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
}
.search-control-aside-left {
    position: absolute;
    left: 25px;
    font-size: 1.3rem;
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
    top: 50%;
    margin-top: -0.65rem;
}
.search-control-aside-right{
    position: absolute;
    top: 50%;
    right: 23px;
    position: absolute;
    margin-top: -15px;
}

.search-acceptable-use {
    color: rgba(0,0,0,.4);
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}