<div class="">
    <div class="">
        <div class="text-center search-container">
            <div class="search-control-aside-left">#</div>
            <form [formGroup]="searchForm" (ngSubmit)="search()">
                <input class="input-search" type="text" formControlName="eventId" placeholder="enter code here" />
                <button type="submit" class="button-search search-control-aside-right">
                    ➔
                </button>
            </form>
        </div>
    </div>
    <div class="text-center">
        <small class="search-acceptable-use">By using this app I agree to the <b>Acceptable Use</b></small>
    </div>
    <div>
        <app-route-button [data]="routeButtonData"></app-route-button>
    </div>
</div>