<app-search></app-search>
<div class="event-preview-container">
    <div class="event-icon-container center-icon">
        <span class="material-icons">event</span>
    </div>
    <div class="event-info-container">
        <span><b class="event-name">{{event.eventName}}</b></span>   <span class="event-id">#{{event.eventId}}</span>
        <br><small class="event-time">{{event.expirationTime}}</small>
    </div>
    <div class="event-actions-container center-icon">
        <span class="material-icons">launch</span>
    </div>
</div>