.event-preview-container {
    padding: 20px 15px;
    background-color: #f7f7f7;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    margin: 20px 0px;
    border: 1px solid #e7dbdb;
}

.event-preview-container:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: 1s;
}

.event-icon-container {
    width: 10%;
}

.event-info-container {
    width: 80%;
    text-align: left;
}

.event-actions-container {
    width: 10%;
}

.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0px;
}

.event-name {
    font-size: 14px;
    font-weight: 500;
    color: hsla(0, 0%, 0%, .8);
    margin-right: 8px;
}

.event-id {
    color: hsla(0, 0%, 0%, .4);
}

.event-time{
    color: hsla(0, 0%, 0%, .64);
}