<div class="utility-navbar">
    <!-- <ul class="utility-nav-items">
        <li>Events</li>
    </ul> -->
    <ul class="utility-nav-items">
        <li class="utility-nav-item">
            <a class="utility-link" routerLink="qna" routerLinkActive="active">QnA</a>    
        </li>
        <li class="utility-nav-item">
           <a class="utility-link" routerLink="polls" routerLinkActive="active">Polls</a>
        </li>
        <li class="utility-nav-item">
            <a class="utility-link" routerLink="surveys" routerLinkActive="active">Surveys</a>
        </li>
    </ul>
</div>
