<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">interact</h1>
      <p>Your go-to interaction platform for hybrid meetings</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="text-center">
        <p class="brief-intro">Engage your participants with live polls, Q&A, quizzes and word clouds
          — whether you meet in the office, online or in-between.</p>

        <!-- <button class="btn-get-started">
          Get started for free
        </button> -->
        <app-route-button [data]="routeButtonData"></app-route-button>
      </div>

    </div>
  </div>
</div>